# Compiled files
*.py[cod]
__pycache__/

# Distribution / packages
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info
.installed.cfg
*.egg
*.spec

# Testing / Coverage
.tox/
.coverage
.coverage.*
.cache

# IDEs
# Please add these to your global git ignore file.

# Other
.venv/
dev_requirements.txt
requirements.txt